.trackList-main {
  margin-top: 0.5vmax;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 50vh;
  background: #fff;
  box-shadow: 0 0.4vmax 0.4vmax rgba(0, 0, 0, 0.25);
  border-radius: 1vmax;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.track-container {
  margin-top: 1vmax;
  width: 90%;
  height: 7vh;
  border-radius: 1vmax;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0 0.4vmax 0.4vmax rgba(0, 0, 0, 0.25);
  position: relative;
  user-select: none;
  cursor: pointer;
}

.track-container__image {
  position: absolute;
  left: 1vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2vw;
  height: 2vh;
  background-image: url('./images/musical-note.png');
}

.track-container__title {
  display: flex;
  flex-direction: column;
}

.track-container__title__name {
  font-size: 1.2vmax;
}

.track-container__title__author {
  font-size: 0.8vmax;
  color: #626262;
}

.track-container__duration {
  font-size: 1vmax;
}

.track-container__menu {
  position: absolute;
  right: 1vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2vw;
  height: 2vh;
  background-image: url('./images/dots.png');
  cursor: pointer;
}
