.playBar-container {
  width: 60%;
  height: 6vh;
}

.playBar-wrapper {
  background: black;
  border-radius: 0.375rem;
  display: inline-block;
  width: 100%;
  height: 1vh;
  cursor: pointer;
}

.song-title {
  font-size: 1.5vmax;
}

.playBar-wrapper__bar {
  width: 0;
  height: 100%;
  background-color: #f5fa08;
  border-radius: 0.375rem;
  transition: width 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.play-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.play-time__start {
  font-size: 0.8vmax;
}

.play-time__end {
  font-size: 0.8vmax;
}

.volume {
  width: 3vw;
  height: 0.8vh;
  border-radius: 0.5vmax;
  background: black;
  -webkit-appearance: none;
}

.volume:focus {
  outline: none;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.8vw;
  height: 1.2vh;
  border-radius: 0.3vmax;
  background: #fff;
  cursor: pointer;
  margin-top: -0.2vmax;
  box-shadow: 0.1vmax 0.1vmax 0.1vmax #000, 0.1vmax 0.1vmax 0.1vmax #0d0d0d;
}
